extends ../layout

block content
  h1.errors Oops an error occurred!
  if(errors)
    ul.errors
      each error in errors
        li
          p= error.message
      br
      p
        a.button(href="/books") Home

